# setting worker_processes to CPU core count
worker_processes      1;
daemon off;

events {
  worker_connections  1024;
}

http {
  include             mime.types;
  default_type        application/octet-stream;
  sendfile            on;
  keepalive_timeout   65;
  gzip                on;
  log_format main '"$http_x_forwarded_for" - "$remote_addr" - [$time_local] '
                '"$http_host" "$request" $status $body_bytes_sent "$http_referer" '
                '"$http_user_agent"';
  access_log /app/vendor/nginx/logs/access.log main;
  error_log /app/vendor/nginx/logs/error.log info;
  proxy_max_temp_file_size	0;
  #fastcgi_max_temp_file_size	0;
  limit_conn_zone $binary_remote_addr zone=phplimit:1m; # define a limit bucket for PHP-FPM

  server {
    listen            <%= ENV['PORT'] %>;
    server_name       _;

    root              /app/httpdocs/;
    index             index.php index.html index.htm;

    # Some basic cache-control for static files to be sent to the browser
    location ~* \.(?:ico|css|gif|jpeg|jpg|png)$ {
      expires         max;
      add_header      Pragma public;
      add_header      Cache-Control "public, must-revalidate, proxy-revalidate";
    }

    # Deny hidden files (.htaccess, .htpasswd, .DS_Store).
    location ~ /\. {
      deny            all;
      access_log      off;
      log_not_found   off;
    }

    # Deny /favicon.ico
    location = /favicon.ico {
      access_log      off;
      log_not_found   off;
    }

    # Deny /robots.txt
    location = /robots.txt {
      allow           all;
      log_not_found   off;
      access_log      off;
    }

    # Status. /status.html uses /status
    location ~ ^/(status|ping)$ {
      include         /app/vendor/nginx/conf/fastcgi_params;
      fastcgi_param   HTTPS on; # force SSL
      fastcgi_pass    unix:/tmp/php-fpm.socket;
      fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    location /server-status {
      stub_status on;
      access_log   off;
    }

    location / {
      if (!-e /$request_filename) {
        rewrite .* /runtime/startup.php last;
    }

    if ($uri = /) {
        rewrite .* /runtime/startup.php last;
      }
    }

    location ~ .*\.php$ {
      try_files $uri =404;
      limit_conn phplimit 5; # limit to 5 concurrent users to PHP per IP.
      include         /app/vendor/nginx/conf/fastcgi_params;
      fastcgi_param   HTTPS on; # force SSL
      fastcgi_pass    unix:/tmp/php-fpm.socket;
      fastcgi_param   SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }
  }
}
